body {
    background-color: #353535;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 800,
        'wght' 450,
        'GRAD' 0,
        'opsz' 50,
}


.center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    transform: translate(-50%, -50%);

    background-color:#181818;
    border-radius: 12px;
    border: solid 7px #111111;
    margin: 0 auto;
    padding: 20px;
}

.button {
    font-size: 16px;
    font-family: Google sans, sans-serif;
    text-align: center;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: #111111;
    color: #ffffff;
    border: solid 2px #ffffff;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    background-color: #8ac1ff;
    color: #111111;
    border: solid 2px #2f4d6a;
}

h1 {
    font-family: Google sans, sans-serif;
    font-size: 37px;
    color: #ffffff;
    text-align: center;
    transition: 0.2s;
}

.center h1:hover {
    -webkit-text-stroke: 2px #8fbeff;
    color: transparent;
}

h3 {
    font-family: Google sans, sans-serif;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
}

h4 {
    font-family: Google sans, sans-serif;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
}

p {
    font-family: Google sans, sans-serif;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
}