body {
    background-image:url(res/hinterground/screenshot\ \(10\).jpeg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #000000a0;
    border: solid 0px #882727d4;
    border-radius: 16px;
    padding: 50px;
    transition: all 0.5s ease;
}

.container:hover {
    background-color: #6f1e1ed4;
}

.img {
    display: flex;
    justify-content: center;
    scale: 1.25;
}

h1 {
    color: #ffffff;
    font-size: 32px;
    font-family: Google sans, sans-serif;
    font-weight: 500;
    text-align: center;
}

h2 {
    color: #ffffff;
    font-family: Google sans, sans-serif;
    font-size: 32px;
    text-align: center;
}

p {
    color: #ffffff;
    font-family: Google sans, sans-serif;
    font-weight: 400;
    text-align: center;
}

footer {
    color: #ffffff;
    font-family: Google sans, sans-serif;
    font-weight: 600;
    text-align: center;
    opacity: 0.2;
}