.navbar {
    text-align: center;
    font-family: "Google Sans", sans-serif;
    font-weight: 500;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.176);
    border-radius: 8px;
    padding: 8px 18px;
    text-decoration-color: white;
}

.title {
    font-family: "Google Sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    text-align: center;
    text-decoration: none;
    padding: 14px 70px;
    display: inline-block;
    border-radius: 20px;
    margin-top: 20px;
}

footer {
    background-color: #f1f1f1;
    border-radius: 8px;
    padding: 1px 0px;
    text-align: center;
    text-decoration: underline;
    font-family: "Google Sans", sans-serif;
    padding: 10px;
    font-size: 14px;
}
